<launch>
  <!-- Launch settings. To be passed into launch file. -->
  <arg name="use_external_renderer" default="0" />
  <arg name="render_quality" default="Fastest"/>
  <arg name="render_binary_name" default="FlightGoggles" />

  <group ns="/uav">


    <!-- FlightGoggles Renderer -->
    <!-- Only run renderer if not using external renderer -->
    <group unless="$(arg use_external_renderer)">
        <node name="flightgogglesRenderer" pkg="flightgoggles" type="$(arg render_binary_name).x86_64" respawn="true" args="-screen-quality $(arg render_quality)"/>
    </group>


    <!-- FlightGoggles ROS Bridge -->
    <node name="flightgoggles_ros_bridge" pkg="flightgoggles_ros_bridge" type="ROSClient" output="screen" clear_params="true">
    </node>

    <!-- Transforms for internal use by ROS Bridge. Hotfixes #116. DO NOT USE THESE TFs IN ALGORITHMS. -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher"
          name="camera_left_link_internal_hotfix" args="0 0 0 0 0 3.14159265359 uav/imu uav/camera/left/internal_hotfix"/> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher"
          name="camera_left_link_internal_hotfix" args="0 0 0 0 0 3.14159265359 uav/imu uav/camera/left/internal_hotfix"/> -->

      <!-- Add static transforms for each camera that translate camera into X forward config. Hotfixes #116. DO NOT USE THESE TFs IN ALGORITHMS. -->
    <node pkg="tf2_ros" type="static_transform_publisher"
          name="camera_left_link_internal_nwu"  args="0  0 0 0 -1.57079632679 1.57079632679 uav/camera/left/internal_hotfix uav/camera/left/internal_nwu  " />

    <!--Static transform for ENU to NED world-->
    <node pkg="tf2_ros" type="static_transform_publisher"
          name="world_ned_link" args="0 0 0 1.57079632679 3.14159265359 0 'world' 'world/ned'"/>

  </group>
</launch>
